@media all and (max-width: 768px) {

    .color {
        display: none;
    }

    .ARP2 {
        height: 100px;
        width: 100px;
    }

    .namev {
        font-size: 20px;
        color: whitesmoke;
        text-align: center;
    }

    ::selection {
        background-color: #000;
        color: #fff;
    }

    /* Bouton d'ouverture / fermeture */
    #boutonVolet {
        position: fixed;
        z-index: 3;
        margin: 3%;
        color: whitesmoke;
        cursor: pointer;
        border-radius: 20px;
        opacity: 0.6;
        transition: opacity 1s;
    }

    #boutonVolet:hover {
        opacity: 1;
    }

    .bordure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 90%;
        width: 90%;
        background-color: #c7a02caf;
        border: solid whitesmoke;
        border-radius: 5%;

    }

    /* Volet gauche */
    #voletGauche {
        position: fixed;
        top: 0;
        left: -60vw;
        width: 60vw;
        height: 40vh;
        background-color: rgba(124, 124, 124, 0.907);
        /* Centrage horizontal et vertical */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* Transition CSS sur l'opacité */
        opacity: 1;
        transition: left 1s;
        border-radius: 5%;
    }

    #voletGauche.ouvert {
        z-index: 1;
        left: 0vw;
    }


    .titre {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
        text-align: center;
        text-decoration: none;
        font-size: 80%;
        border: solid rgba(245, 245, 245, 0.437);
        color: rgb(244, 244, 244);
        background-color: #c7a02c74;
        height: 70px;
        width: 80%;
        padding: 1%;
        margin-bottom: 20%;
        border-radius: 10px;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out;
    }
    .textinfo {
        margin-top: 4%;
        margin-bottom: 7%;
        font-size: 20px;
        text-align: center;
        color: whitesmoke;
    }

.name {
    grid-column: 3/6;
    grid-row: 2/4;
    color: rgb(244, 244, 244);
    font-size: 30px;
    margin-top: 20px;
}
}