@media all and (max-width: 768px) {

    .color {
        display: none;
    }

    .ARP2 {
        height: 100px;
        width: 100px;
    }

    .namev {
        font-size: 20px;
        color: whitesmoke;
        text-align: center;
    }

    ::selection {
        background-color: #000;
        color: #fff;
    }

    /* Bouton d'ouverture / fermeture */
    #boutonVolet {
        position: fixed;
        z-index: 3;
        margin: 3%;
        color: whitesmoke;
        cursor: pointer;
        border-radius: 20px;
        opacity: 0.6;
        transition: opacity 1s;
    }

    #boutonVolet:hover {
        opacity: 1;
    }

    .bordure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 90%;
        width: 90%;
        background-color: #c7a02caf;
        border: solid whitesmoke;
        border-radius: 5%;

    }

    /* Volet gauche */
    #voletGauche {
        position: fixed;
        top: 0;
        left: -60vw;
        width: 60vw;
        height: 40vh;
        background-color: rgba(124, 124, 124, 0.907);
        /* Centrage horizontal et vertical */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* Transition CSS sur l'opacité */
        opacity: 1;
        transition: left 1s;
        border-radius: 5%;
    }

    #voletGauche.ouvert {
        z-index: 1;
        left: 0vw;
    }


    .titre {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
        text-align: center;
        text-decoration: none;
        font-size: 80%;
        border: solid rgba(245, 245, 245, 0.437);
        color: rgb(244, 244, 244);
        background-color: #c7a02c74;
        height: 70px;
        width: 80%;
        padding: 1%;
        margin-bottom: 20%;
        border-radius: 10px;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out;
    }
    .textinfo {
        margin-top: 4%;
        margin-bottom: 7%;
        font-size: 20px;
        text-align: center;
        color: whitesmoke;
    }

.name {
    grid-column: 3/6;
    grid-row: 2/4;
    color: rgb(244, 244, 244);
    font-size: 30px;
    margin-top:3%;
}
/*-----------Formation--------------*/
.name2 {
    font-size: 90%;
    margin: 2%;
}

.name3 {
    font-size: 70%;
    margin: 2%;
}

#formation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.titre {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
    border: solid rgba(245, 245, 245, 0.437);
    color: rgb(244, 244, 244);
    background-color: #c7a02c74;
    height:auto;
    width: auto;
    padding: 1%;
    border-radius: 10px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.blockf {
    display: flex;
    height: 200px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0%;
}
.blockf2 {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.titre:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.picture {
    height: 70px;
    border-radius: 10px;
}

/*-----------FinDeFormation--------------*/

.textinfo {
    margin-top: 4%;
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
}
.colortext {
    font-size: 25px;
    color: #c7a02c92;
}
/*---------------- barre de progression ------------------*/
.formation2 {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 50px;
    margin-top: 10%;
}


.blockcomp {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

.titrecomp {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 5%;
    color: rgb(255, 255, 255);
}

.competences {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.458);
    border-radius: 20px;
    margin: 2%;
}

.icons {
    height: 25px;
    margin: 5px;
}
.blockf3 {
    display: flex;
    height:100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0%;
}

.barcontainer {
    display: flex;
    align-items: flex-end;
    margin: 5px;
    background-color: #cfcfcf;
    width: 20px;
    height: 200px;
    float: none;
    border-radius: 10px;
    border: solid white 2px;
}

.bar {

    width: 100%;
    height: 80%;
    border-radius: 9px;
    animation: grow 2s ease-out forwards;
    transform-origin: bottom;
}

@keyframes grow {
    from {
        transform: scaleY(0);
    }
}

/*---------------FinDeBarreDeProgression------------------*/
/*---------------BarreDeLogo------------------*/

.logocomp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    width: 99%;
    border: solid rgba(245, 245, 245, 0) 1px;
    background-color: #c7a02c00;
}

.icon2 {
    height: 100px;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

.icon2:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.infobulleThree {
    color: whitesmoke;
}

.infobulleThree {
    position: relative;
    cursor: url("/asset/img/cursor.png"), pointer;
    color: whitesmoke;
}

.infobulleThree:hover::after,
.infobulleThree:focus::after {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.457);
    border-radius: 5px;
    width: auto;
    height: 20px;
    font-size: 15px;
    padding: 3%;
    content: attr(aria-label);
    position: absolute;
    top: 7em;
    z-index: 1;
    white-space: nowrap;
}
/*---------------FinDeBarreDeLogo------------------*/
/*--------------Profolios--------------*/
#formation3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    margin: 0%;
}

.slider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    width: 99%;
    height: 10px;
    color: rgb(244, 244, 244);
    border: solid rgba(245, 245, 245, 0.437) 1px;
    background-color: #c7a02c92;
}
.sliderP {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 99%;
    height: 10px;
    color: rgb(244, 244, 244);
    border: solid rgba(245, 245, 245, 0.437) 1px;
    background-color: #c7a02c92;
}
.sliderMob{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 99%;
    height: 10px;
    color: rgb(244, 244, 244);
    border: solid rgba(245, 245, 245, 0.437) 1px;
    background-color: #c7a02c92;
}

.site1 {
    height: 80px;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

.site1:hover {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}

.site1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tpsite1 {
    height: 250px;
}
.namesite {
    font-size: 300%;
}
.infobulleThree {
    color: whitesmoke;
}

.infobulleFour{
    position: relative;
    cursor: url("/asset/img/cursor.png"), pointer;
    color: whitesmoke;
}

.infobulleFour:hover::after,
.infobulleFour:focus::after {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.457);
    border-radius: 20px;
    width: auto;
    height: 50px;
    width: auto;
    padding: 1% 3%;
    font-size: 25px;
    content: attr(aria-label);
    position: absolute;
    top: 2em;
    z-index: 1;
    white-space: nowrap;
}

/*--------------FinDeProfilios--------------*/

/*-------------ParcoursProfessionelles-----------------------*/
#formation4 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
}

#date22 {}

.text22 {
    opacity: 0%;
    transition: 1s;
    z-index: 2;
}

.text22N {
    opacity: 100%;
    transition: 1s;
    z-index: 2;
}

#date17 {}

.text17 {
    opacity: 0%;
    transition: 1s;
    z-index: 2;
}

.text17N {
    opacity: 100%;
    transition: 1s;
    z-index: 2;
}

#date15 {}

.text15 {
    opacity: 0%;
    transition: 1s;
    z-index: 2;
}

.text15N {
    opacity: 100%;
    transition: 1s;
    z-index: 2;
}

#date13 {}

.text13 {
    opacity: 0%;
    transition: 1s;
    z-index: 2;
}

.text13N {
    opacity: 100%;
    transition: 1s;
    z-index: 2;
}

#date11 {}

.text11 {
    opacity: 0%;
    transition: 1s;
    z-index: 2;
}

.text11N {
    opacity: 100%;
    transition: 1s;
    z-index: 2;
}

.parcours {
    display: flex;
    align-items: flex-start;
    margin: 30px;


}

.ligne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    height: 90%;
    width: 5px;
    background-color: #c7a02c92;
    border: solid rgba(232, 213, 213, 0.437);
}

.button {
    margin: 5% 0%;
    font-size: 15px;
    color: #e3b835c7;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: whitesmoke;
    border: none;
    border: solid whitesmoke;
    transition: 0.5s;
}

.buttonValide {
    margin: 2% 0%;
    font-size: 15px;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: solid whitesmoke;
    background-color: #c7a02c92;
    color: whitesmoke;
    transition: 0.5s;
}

.button:hover {
    border: solid whitesmoke;
    background-color: #c7a02c92;
    color: whitesmoke;
}

#emplois22,
#emplois17,
#emplois15,
#emplois13,
#emplois11 {
    position: absolute;
    margin: 20% 2%;
    color: whitesmoke;
}

.boiteParcour {
    height: 350px;
    transition: 1.5s;
    width: auto;
}

.boiteParcour2 {
    height: 750px;
    transition: 1s;
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 10px;
}

/*---------------------Hobies-----------------------*/
.formation3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: 5%;
}

.metier {
    font-size: 20px;
    color: #d0b256;
    list-style-type: none;
}



.infobulle {
    color: whitesmoke;
    transform: scale(2);
    margin: 40px;
}

.infobulle {
    position: relative;
  
    cursor: url("/asset/img/cursor.png"), pointer;
    color: whitesmoke;
}

.infobulle:hover::after,
.infobulle:focus::after {
    background-color: rgba(245, 245, 245, 0.274);
    border-radius: 20px;
    text-align: center;
    width: 120px;
    font-size: 10px;
    content: attr(aria-label);

    position: absolute;
    top: -2em;
    left: -120%;
    transform: translateX(-10%);
    z-index: 1;
    white-space: nowrap;
}

/*---------------------Footer-------------------------*/
.fin {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid rgba(245, 245, 245, 0.437) 1px;
    background-color: #c7a02c92;
    height: 70px;
    width: 99%;
}
/*____________*/
}